@import url('https://fonts.googleapis.com/css?family=OpenSans&display=swap');

* {
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
}

body {
  margin: 0 auto;
  min-width: 1440px;
  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}