img {
    max-width: 100%;
    height: auto;
}

.acc-container {
    max-width: 1600px;
}

.acc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.acc-blog-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 5rem;
}
.acc-blog-container{
    max-width: 80ch;
}

.accPink {
    color: #F83E7D;
}

.accBlue {
    color: #0045F1
}

.accTextcolor {
    color: #113170;
}

.accTextsize {
    font-size: 1rem;
}

.accBold {
    font-weight: bold;
    font-size: 1rem;
}

.acc-border-rad {
    border-radius: 100px 100px 0px 0px;

}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.pink-bg{
    background-color:  #FF87B0;;
}
.pink-grad-bg{
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 53%, hsla(340, 100%, 76%, 1) 100%);
}

.blue-grad-bg {
    background: linear-gradient(white, #D7F3FF);
}

.blue-grad2-bg {
    background: linear-gradient(rgb(215, 243, 255), white);
}

.blue-grad3-bg {
    background: linear-gradient(178.23deg, #0094FF -55.06%, rgba(0, 148, 255, 0) 16.23%);
}

.blog-btn{
    background-color: #ffffff ;
    color: #F83E7D;
    padding: 1rem;
    border-radius: 1rem;
    width: 28rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.headerBlue {
    font-size: 6rem;
    color: #0045F1;
    font-weight: 700;
}

.headerPink {
    font-size: 6rem;
    color: #F83E7D;
    font-weight: 700;
}

.pink-grad-bg {
    background: linear-gradient(white, #FFC7DA, white);
}

.mui-h5 {
    font-size: 1.5rem;
}

.mui-h6 {
    font-size: 1.25rem;
}

.acc-mb {
    margin-bottom: 5rem;
}

.img-wrapper {
    width: 30rem;
}

.partner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7rem;
    margin-bottom: 1rem;
}

.partner-header {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/Partner.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 14rem;
}

.partner-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.header-txt-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}